html {
  height: 100%;
}

body {
  min-width: 320px;
  width: 100%;
  height: 100%;
  //background: $bg-secondary;
  //color: $text-secondary;
  //font-family: $font-primary;
  //font-size: $font-size;
  text-transform: uppercase;
  box-sizing: border-box;
  overflow: hidden;
}
